#root {
  min-height: 100vh;
  min-width: 75vw;

  max-width: 85vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #ffffff;
  color: #333333;
  transition: background-color 0.3s, color 0.3s;
}
@media screen and (min-width: 1800px) {
  #root {
    min-width: 70vw; /* Expand slightly on ultrawide screens */
    padding: 5rem; /* Adjust padding for balance */
  }

  .card {
    max-width: 70vw; /* Ensure content doesn't stretch too much */
  }
}
.card {
  padding: 2em;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 2em auto;
  max-width: 900px;
  transition: background-color 0.3s;
}

/* Make logos responsive */
.logo {
  height: 6em;
  padding: 1.5em;
  max-width: 100%;
}


/* Responsive styles for mobile devices */
@media screen and (max-width: 768px) {
  #root {
    padding: 1rem;
    margin: 0;
    max-width: 100vw;

  }

  .card {
    padding: 1.5em;
    margin: 0.5em;
  }

  button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  #root {
    background-color: #121212;
    color: #f5f5f5;
  }

  .card {
    background-color: #1e1e1e;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  }
}
.resources-container{
  padding:2rem;
  max-wdth:1200px;
  margin: 0 auto;
}

.resources-header {
  display: flex;
  align-items: center
}
.resources-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr)) ;
  gap: 2rem;
}
.resources-card{
  border:1px solid #e1e4e8;
  padding: 1.5rem;
  border-radius: 8px;
}
resource-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-title {
  border-bottom: 3px solid #00ADD8; /* Go Gopher Blue */
  padding-bottom: 0.75rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #D3D3D3;
}

.resource-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.resource-item {
  margin-bottom: 1.25rem;
}

.resource-item:last-child {
  margin-bottom: 0;
}

.resource-link {
  font-weight: 600;
  color: #00ADD8;
  text-decoration: none;
  font-size: 1.1rem;
}


.articles-container{
  max-width: 800px;
  margin: 40px auto;
  padding:0 20px;
}
.articles-list {
  list-style: none;
  padding: 0;
}
.article-item {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  transition: transform 0.2s ease;
}


.article-link{
  font-size:1.2rem;
  color:#00ADD8;
  text-decoration: none;
  font-weight: bold;
}
.article-author{
  color: black;

  display: block;
  margin-top: 5px;
  font-style: italic;
}